.footer-cols
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer
{
    background-color: black;
    color:lightgray;
    font-family: 'PT Sans',sans-serif;
    width: 100%;
}
p
{
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 3em;
}